<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GO Fitness</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <section class="intro">
        <div class="header-intro">
            <div id="inicio" class="header-logo">
                <a href="" class="img-logo"><img src="/static/imgs/logo.png" alt="logo"></a>
            </div>

            
            <div class="header-redes">
              <div class='jump'> <a  href="">  <img  src="/static/icons/instagram 1.png" alt=""></a></div>
              <div class='jump'> <a  href="">  <img  src="/static/icons/whatsapp (1) 1.png" alt=""></a></div>
              <div class='jump'> <a  href="">  <img  src="/static/icons/local.png" alt=""></a></div>
                
            </div>
            

            <div class="header-nav">
                <ul>
                    <a class="line" href="#inicio"> <li>INICIO</li>     </a>
                    <a class="line" href="#aulas"> <li>AULAS</li>      </a>
                    <a class="line" href="#planos"> <li>PLANOS</li>     </a>
                    <a class="line" href="#contatos"> <li>CONTATO</li>    </a>
                </ul>
            </div>
        </div>
        
        <div class="main-intro">
            <div class="texto-motivador">
                Não é sobre ser o melhor, <br>
                é sobre ser melhor que ontem.
            </div>
            <a href=""><div class="btn-intro">
                Matricule-se Já
            </div></a>
        </div>
    </section>



    <section class="main">

        <div class="sec-1">
            <div class="descri">
                <div class="descri-texto">Aqui ná GoFitness tem tudo que você precisa para  treinar: academia abertas todos os dias da semana e com mais de 30 modalidades diferentes por um preço acessível. Escolha como e quando se movimentar!</div>
                <a href=""><div class="descri-btn">Assine Já</div></a>
            </div>

            <div id="aulas" class="carrocel-aulas">
                <div class="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="/static/imgs/yoga-group-classes-inside-gym.jpg" alt="Imagem 1">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/imgs/two-professional-boxer-boxing-black-smoky.jpg" alt="Imagem 2">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/imgs/people-taking-part-zumba-class.jpg" alt="Imagem 3">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/imgs/Group 1.png" alt="Imagem 3">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/imgs/Group 2.png" alt="Imagem 3">
                        </div>
                        <div class="carousel-item">
                            <img src="/static/imgs/Group 3.png" alt="Imagem 3">
                        </div>
                    </div>
                    <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
                    <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
                </div>
                <script src="/static/script.js"></script>
            </div>

        </div>  
        <div class="sec-2">
            
            <div class="sec2-container">
                <div class="slider-item">
                    <img src="/static/imgs/people-taking-part-zumba-class.jpg" alt="Imagem 1">
                </div>
                <div class="slider-item ">
                    <img src="/static/imgs/two-professional-boxer-boxing-black-smoky.jpg" alt="Imagem 2">
                </div>
                <div class="slider-item">
                    <img src="/static/imgs/yoga-group-classes-inside-gym.jpg" alt="Imagem 3">
                </div>
            </div>
            
            <div class="sec2-container-text">
                <div class="sec2-text">
                    <span class="sec2-titulo">
                        Time de Ponta

                    </span>

                    <span class="sec2-sub-titulo">
                        Equipamentos moderno

                    </span>
                    <span class="sec2-mini-texto">
                        Ambiente preparado 
                        para receber você e sua 
                        failia con instrutores 
                        epecializados!
                    </span>
                </div>
                <div class="sec2-btn">
                    Matricule-se Já!
                </div>
            </div>
        </div>
    </div>  

    </section>

    <section id="planos" class="planos">
        <div class="planos-titulos">
            <span class="planos-titulo">comece a treinar</span>
            <span class="planos-sub-titulo">hoje mesmo</span>
        </div>
        <div class="planos-container-card">

            <div class="planos-card">
                <div class="card-titulo">mensal</div>
                <div class="card-valor">R$ 89,90</div>
                <a href=""><div class="card-btn">Falar com atendente <img src="/static/icons/whatsapp (1) 1.png" alt=""></div></a>
                <div class="card-descri">
                    <span class="card-pintar">Sem taxa</span> de matricula <br>
                    <span class="card-pintar">Sem taxa</span> de manutenção <br>
                    Treino <span  class="card-pintar"> livre</span> </div>
            </div>

            <div class="planos-card">
                <div class="card-titulo">bimestral</div>
                <div class="card-valor">R$ 159,90</div>
                
                <a href=""><div class="card-btn">Falar com atendente <img src="/static/icons/whatsapp (1) 1.png" alt=""></div></a>
                <div class="card-descri">
                    <span class="card-pintar">Sem taxa</span> de matricula <br>
                    <span class="card-pintar">Sem taxa</span> de manutenção <br>
                    Treino <span  class="card-pintar"> livre</span> </div>
            </div>
            <div  id="card-promo"  class="planos-card">
                <div class="card-placa">GOFRIDAY</div>
                <div id="card-titulo-promo"  class="card-titulo">trimestral</div>
                <div class="card-valor">R$ 219,90</div>
                
                <a href=""><div id="card-btn-promo" class="card-btn">Falar com atendente <img src="/static/icons/whatsapp (1) 1.png" alt=""></div></a>
                <div class="card-descri">
                    <span class="card-pintar">Sem taxa</span> de matricula <br>
                    <span class="card-pintar">Sem taxa</span> de manutenção <br>
                    Treino <span  class="card-pintar"> livre</span> </div>
            </div>
        </div>
    </section>

    <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d817.6223443968814!2d-38.33656581793586!3d-12.889113878033024!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7161779c0eb3207%3A0xfcc78742211916aa!2sAcademia%20Go*21%20Fitness!5e0!3m2!1spt-BR!2sbr!4v1732994739113!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>